<section class="relative">

    <div class="relative max-w-6xl mx-auto px-4 sm:px-6">
        <div class="py-3 md:pt-0 md:pb-10">

            <!-- Items -->
            <div class="max-w-sm mx-auto grid gap-6 md:grid-cols-2 xl:grid-cols-2 items-start md:max-w-2xl lg:max-w-none">

                <!-- 1st item -->
                <!--
                <a href="https://atlascomputingservices.com">
                    <div class="relative flex flex-col items-center p-6 bg-white rounded shadow-xl">
                        <svg class="w-16 h-16 p-1 -mt-1 mb-2" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
                            <g fill="none" fill-rule="evenodd">
                            <rect class="fill-current text-blue-600" width="64" height="64" rx="32" />
                            <g stroke-width="2">
                            <path class="stroke-current text-blue-300" d="M34.514 35.429l2.057 2.285h8M20.571 26.286h5.715l2.057 2.285" />
                            <path class="stroke-current text-white" d="M20.571 37.714h5.715L36.57 26.286h8" />
                            <path class="stroke-current text-blue-300" stroke-linecap="square" d="M41.143 34.286l3.428 3.428-3.428 3.429" />
                            <path class="stroke-current text-white" stroke-linecap="square" d="M41.143 29.714l3.428-3.428-3.428-3.429" />
                            </g>
                            </g>
                        </svg>
                        <h4 class="text-xl font-bold leading-snug tracking-tight mb-1">Computing Services</h4>
                        <p class="text-gray-600 text-center">Design and implementation of infrastructure and backend services</p>
                    </div>
                </a>
                -->

                <!-- 2nd item -->
                <!--
                <a href="https://atlaswebdevelopement.com">
                    <div class="relative flex flex-col items-center p-6 bg-white rounded shadow-xl">
                        <svg class="w-16 h-16 p-1 -mt-1 mb-2" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
                            <g fill="none" fill-rule="evenodd">
                            <rect class="fill-current text-blue-600" width="64" height="64" rx="32" />
                            <g stroke-width="2">
                            <path class="stroke-current text-blue-300" d="M34.743 29.714L36.57 32 27.43 43.429H24M24 20.571h3.429l1.828 2.286" />
                            <path class="stroke-current text-white" stroke-linecap="square" d="M34.743 41.143l1.828 2.286H40M40 20.571h-3.429L27.43 32l1.828 2.286" />
                            <path class="stroke-current text-blue-300" d="M36.571 32H40" />
                            <path class="stroke-current text-white" d="M24 32h3.429" stroke-linecap="square" />
                            </g>
                            </g>
                        </svg>
                        <h4 class="text-xl font-bold leading-snug tracking-tight mb-1">Web Developement</h4>
                        <p class="text-gray-600 text-center">Design and implementation of beautiful websites</p>
                    </div>
                </a>
                -->

                <!-- 3rd item -->
                <a href="https://atlasbusinessanalytics.com">
                    <div class="relative flex flex-col items-center p-6 bg-white rounded shadow-xl">
                        <svg class="w-16 h-16 p-1 -mt-1 mb-2" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
                            <g fill="none" fill-rule="evenodd">
                            <rect class="fill-current text-blue-600" width="64" height="64" rx="32" />
                            <g stroke-width="2" transform="translate(19.429 20.571)">
                            <circle class="stroke-current text-white" stroke-linecap="square" cx="12.571" cy="12.571" r="1.143" />
                            <path class="stroke-current text-white" d="M19.153 23.267c3.59-2.213 5.99-6.169 5.99-10.696C25.143 5.63 19.514 0 12.57 0 5.63 0 0 5.629 0 12.571c0 4.527 2.4 8.483 5.99 10.696" />
                            <path class="stroke-current text-blue-300" d="M16.161 18.406a6.848 6.848 0 003.268-5.835 6.857 6.857 0 00-6.858-6.857 6.857 6.857 0 00-6.857 6.857 6.848 6.848 0 003.268 5.835" />
                            </g>
                            </g>
                        </svg>
                        <h4 class="text-xl font-bold leading-snug tracking-tight mb-1">Business Analytics</h4>
                        <p class="text-gray-600 text-center">End to end solutions that provide accessable and reliable business insights, including data ingestion, storage and mining, forecasting and visualization</p>
                    </div>
                </a>
                
                <!-- 4th item -->
                <a href="https://businessinsightsnow.tech">
                    <div class="relative flex flex-col items-center p-6 bg-white rounded shadow-xl">
                        <svg class="w-16 h-16 p-1 -mt-1 mb-2" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
                            <g fill="none" fill-rule="evenodd">
                            <rect class="fill-current text-blue-600" width="64" height="64" rx="32" />
                            <g stroke-width="2" transform="translate(19.429 20.571)">
                            <circle class="stroke-current text-white" stroke-linecap="square" cx="12.571" cy="12.571" r="1.143" />
                            <path class="stroke-current text-white" d="M19.153 23.267c3.59-2.213 5.99-6.169 5.99-10.696C25.143 5.63 19.514 0 12.57 0 5.63 0 0 5.629 0 12.571c0 4.527 2.4 8.483 5.99 10.696" />
                            <path class="stroke-current text-blue-300" d="M16.161 18.406a6.848 6.848 0 003.268-5.835 6.857 6.857 0 00-6.858-6.857 6.857 6.857 0 00-6.857 6.857 6.848 6.848 0 003.268 5.835" />
                            </g>
                            </g>
                        </svg>
                        <h4 class="text-xl font-bold leading-snug tracking-tight mb-2">Business Insights Now</h4>
                        <p class="text-gray-600 text-center">For small and medium sized businesses, we provide monthly analytics
                        and reporting services to unlock the value of your data and empower data driven decisions.</p>
                    </div>
                </a>
                
            </div>

        </div>
    </div>
</section>
